#wrapper {
    display: flex;
    justify-content: center;
    gap: 8px;
}

#tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

#sketchpad {
    display: flex;
    flex-direction: column;
    width: 512px;
    height: 512px;
    background-color: rgb(240, 240, 240);
    border: 4px solid lightgray;
    border-radius: 2px;
}

.row {
    display: flex;
    flex-grow: 1;
}

.pixel {
    flex-grow: 1;
}